<h2 class="title">Content Management Dashboard</h2>

<div class='homepage-buttons'>
  <span class='homepage-links'><a routerLink="/content/new"><button type="button" class="btn btn-secondary btn-lg btn-block">New Content</button></a></span> 
  
    <span class='homepage-links'><a routerLink="/content/rejections"><button type="button" class="btn btn-secondary btn-lg btn-block">Rejections</button></a></span> 
    
    <span class='homepage-links'><a routerLink="/content/inprogress"><button type="button" class="btn btn-secondary btn-lg btn-block">In Progress</button></a></span> 
    
   <span class='homepage-links'><a routerLink="/content/rfa"><button type="button" class="btn btn-secondary btn-lg btn-block">RFA List</button></a></span> 
    
    <span class='homepage-links'><a routerLink="/content/list"><button type="button" class="btn btn-secondary btn-lg btn-block">Full List</button></a></span> 
</div>