<nav class="navbar navbar-fixed-top navbar-light bg-faded nav-styles">
  <div class='container'>
      <ul class="nav">
		<li class='nav-item'>
			<a class='nav-link' routerLink="/home" routerLinkActive="active">Home</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link' routerLink="/avidingest" routerLinkActive="active">Avid Ingest</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link' routerLink="/sp" routerLinkActive="active">S&P</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link' routerLink="/edit" routerLinkActive="active">Edit</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link' routerLink="/serveringest" routerLinkActive="active">Server Ingest</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link' routerLink="/qc" routerLinkActive="active">QC</a>
		</li>
	  </ul>
  </div>
</nav>


<router-outlet></router-outlet>
